<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

  <h1><%= title %></h1>
  <a href="/movies/new">Add a Movie!</a>
  <a href="/movies">Show me all the movies!</a>

  <%- include('./partials/footer') %>
